<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
