{{ form_start(form) }}
    <label for="produit_titre">Titre</label>
    {{form_row(form.titre, {'attr':{'class':'form-control'}})}}

    <label for="produit_description">Description</label>
    {{form_row(form.description, {'attr':{'class':'form-control'}})}}

    <label for="produit_quantiteStock">Quantité Stock</label>
    {{form_row(form.quantiteStock, {'attr':{'class':'form-control'}})}}


    <label for="produit_prix">Prix</label>
    {{form_row(form.prix, {'attr':{'class':'form-control'}})}}


    <label for="produit_fournisseur">Fournisseur</label>
    {{form_row(form.fournisseur, {'attr':{'class':'form-control'}})}}

    <div class="text-center mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
