{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}


        <h5 class="font-weight-bold">Liste des produits</h5>
    
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Quantité Stock</th>
                    <th>Marque</th>
                    <th>Prix Unitaire</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.titre }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.quantiteStock }}</td>
                    <td>{% if produit.marque %}{{ produit.marque.marque }}{% else %}{% endif %}</td>
                    <td>{{ produit.prix }} €</td>
                    <td>
                        {# <a href="{{ path('produit_index', {'id': produit.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a> #}
                        <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                        {{ include('produit/_delete_formProduit.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        
        <a href="{{ path('produit_new') }}" class="btn btn-primary"> <i class="fas fa-plus"></i> Créer un produit</a>
    

    
{% endblock %}
