
@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  body {
    font-size: 0.9rem;
  }
  .page-wrapper .sidebar-wrapper,
  .sidebar-wrapper .sidebar-brand > a,
  .sidebar-wrapper .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  .sidebar-wrapper ul li a i,
  .page-wrapper .page-content,
  .sidebar-wrapper .sidebar-search input.search-menu,
  .sidebar-wrapper .sidebar-search .input-group-text,
  .sidebar-wrapper .sidebar-menu ul li a,
  #show-sidebar,
  #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  /*----------------page-wrapper----------------*/
  
  .page-wrapper {
    height: 100vh;
  }
  
  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .page-wrapper .theme.chiller-theme {
    background: #1e2229;
  }
  
  /*----------------toggeled sidebar----------------*/
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }
  /*----------------show sidebar button----------------*/
  #show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
  }
  .page-wrapper.toggled #show-sidebar {
    left: -40px;
  }
  /*----------------sidebar-wrapper----------------*/
  
  .sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
  }
  
  /*----------------sidebar-content----------------*/
  
  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
  }
  
  .sidebar-content.desktop {
    overflow-y: hidden;
  }
  
  /*--------------------sidebar-brand----------------------*/
  
  .sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
  }
  /*--------------------sidebar-header----------------------*/
  
  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .sidebar-wrapper .sidebar-header .user-info {
    float: left;
  }
  
  .sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
  }
  
  /*-----------------------sidebar-search------------------------*/
  
  .sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px;
  }
  
  /*----------------------sidebar-menu-------------------------*/
  
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i,.chiller-theme .sidebar-wrapper ul form .card-btn i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
  }
  
  /*--------------------------side-footer------------------------------*/
  
  .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
  }
  
  .sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
  }
  
  .sidebar-footer > a .notification {
    position: absolute;
    top: 0;
  }
  
  .badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
  }
  
  .badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
  }
  
  /*--------------------------page-content-----------------------------*/
  
  .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
  }
  
  .page-wrapper .page-content > div {
    padding: 20px 40px;
  }
  .page-wrapper.toggled .page-content > .container-fluid {
    padding: 20px 40px;
  }
  .page-wrapper .page-content > .container-fluid {
    padding: 0;
  }
  .page-wrapper .page-content.article .container-fluid .article-list{
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .page-wrapper .page-content.article .container-fluid .btn-add{
    margin-left: auto;
    background-color: #fff;
    padding:5px 15px;
    color:#232323;
    box-shadow: 1px 2px 3px #dedede;
    font-weight: 500;
    font-size: 15px;
  }
  .page-wrapper .page-content.article .container-fluid .btn-add i{
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgb(22 199 255 / 50%);
  }
  .page-wrapper .page-content.article .container-fluid .article-list thead tr th{
    border:none;
    color:#b1b1b1;
    font-weight: 500;
  }
  .page-wrapper .page-content.article .container-fluid .article-list tbody tr td{
    border:none;
    vertical-align: middle;
    background-color: #fff;
    padding:10px 10px;
    color:#b1b1b1;
  }
  .page-wrapper .page-content.article .container-fluid .article-list tbody tr .title{
    color:#232323;
    font-weight: 600;
  }
  .page-wrapper .page-content.article .container-fluid .article-list tbody tr td .img{
    width:90px;
    height:70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page-wrapper .page-content.article .container-fluid .article-list tbody tr td .btn-success{
    padding: 6px 7px 6px 11px;
    margin-right:15px;
  }
  .page-wrapper .page-content.article .container-fluid .article-list tbody tr td .btn-danger{
    padding: 6px 11px;
  }
  .page-wrapper .page-content {
    overflow-x: hidden;
  }
  .page-wrapper .page-content.article {
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  .page-wrapper .page-content .vue{
    display: block;
    margin:0 auto;
    transition: all 0.3s ease;
  }
  
  /*------scroll bar---------------------*/
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  
  /*-----------------------------chiller-theme-------------------------------------------------*/
  
  .chiller-theme .sidebar-wrapper {
      background: #31353D;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header,
  .chiller-theme .sidebar-wrapper .sidebar-search,
  .chiller-theme .sidebar-wrapper .sidebar-menu {
      border-top: 1px solid #3a3f48;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      border-color: transparent;
      box-shadow: none;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
  .chiller-theme .sidebar-footer>a ,.chiller-theme .sidebar-wrapper ul form .card-btn{
      color: #818896;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
  .chiller-theme .sidebar-footer>a:hover i {
      color: #b8bfce;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar {
      color: #bdbdbd;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
      color: #ffffff;
  }
  
  .chiller-theme .sidebar-wrapper ul li:hover a i,
  .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i ,.chiller-theme .sidebar-wrapper ul form .card-btn i{
      color: #16c7ff;
      text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text{
      background: #3a3f48;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
      color: #6c7b88;
  }
  .chiller-theme .sidebar-wrapper form{
    padding-right:16px;
    text-align: center;
  }
  .chiller-theme .sidebar-wrapper .add-card{
    margin-top:36px;
    padding-left:16px;
  }
  .chiller-theme .sidebar-wrapper form .miniatures{
    margin:0;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    -webkit-appearance: button;
    border-radius: 15px;
  }
  .chiller-theme .sidebar-wrapper form .miniatures .col-4,.chiller-theme .sidebar-wrapper form .miniatures .col-8{
    padding:0;
    color: #818896;
    background-color: #31353D!important;
    text-align: left;
  }
  .chiller-theme .sidebar-wrapper form .miniatures .col-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 10px;
  }
  .chiller-theme .sidebar-wrapper form .card-btn{
    width: 100%;
    font-size: 16px;
    height: auto;
    border: none;
    padding:5px 10px;
    outline: none;
    color: #fff;
    background: #31353D;
    cursor: pointer;
    position: relative;
    z-index: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    -webkit-appearance: button;
  }
  .chiller-theme .sidebar-wrapper form .card-btn:before {
    content: "";
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  .chiller-theme .sidebar-wrapper form .card-btn:hover:before {
    opacity: 1;
  }
  
  .chiller-theme .sidebar-wrapper form .card-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #31353D;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .chiller-theme .sidebar-wrapper form .btn.btn-delete{
    background-color: #f44336;
  }
  .chiller-theme .sidebar-wrapper form .btn{
    width:100%;
    color: #FFF;
    background-color: #4caf50;
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 1.5rem;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte{
    margin-bottom:16px;
  }
  .chiller-theme .sidebar-wrapper .button-details{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    padding: 7px;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  .chiller-theme .sidebar-wrapper .button-details .choice .inp{
    width:49%;
    display: inline-block;
  }
  .chiller-theme  .button-details .choice [type="radio"]:checked, .chiller-theme  .button-details .choice [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  .chiller-theme  .button-details .choice [type="radio"]:checked + label,
  .chiller-theme  .button-details .choice [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 16px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #b8bfce;
  }
  .chiller-theme  .button-details .choice [type="radio"]:checked + label:before,
  .chiller-theme  .button-details .choice [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 12px;
      height: 12px;
      border: 1px solid #16c7ff;
      border-radius: 50%;
      background: transparent;
  }
  .chiller-theme  .button-details .choice [type="radio"]:checked + label:after,
  .chiller-theme  .button-details .choice [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #16c7ff;
      position: absolute;
      box-shadow: 0px 0px 10px rgb(22 199 255 / 50%);
      top: 6px;
      left:2px;
      border-radius: 50%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  .chiller-theme  .button-details .choice [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  .chiller-theme  .button-details .choice [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  /** Custom checkbox **/
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type="checkbox"] { display: none; }

  .chiller-theme .sidebar-wrapper .sidebar-texte input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type="checkbox"] + label:last-child { margin-bottom: 0; }
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #16c7ff;
    position: absolute;
    left: 0;
    top: 3px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type="checkbox"]:checked + label:before {
    width: 8px;
    top: 0;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /** end custom **/
  .chiller-theme .sidebar-wrapper .sidebar-texte .col-4{
    padding:0;
  }
  /** custom radio **/
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio{
    margin:0;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio input[type="radio"] {
    display:none;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio label {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: #31353D;
    font-weight: 500;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 23%);
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio label .fab{
    height:22px;
    width:25px;
    font-size:22px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio input[type="radio"]:checked + label {
      color: #16c7ff;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio.columns label {
    width:100%;
    border-radius: 5px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio.columns label svg g{
    stroke:#b8bfce;
    fill:#cbd3e4;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .custom-radio.columns input[type="radio"]:checked ~ label svg g{
      stroke: #00a1ce;
      fill: #16c7ff;
  }
  /** custom select **/
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select.active-select {
    font-size: 13px;
    height:50px;
    margin-bottom: 16px;
    width:100%;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select.active-select .select-styled{
    padding:0;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    border-radius: 5px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select.active-select .select-styled:after{
    top:18px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select.active-select .select-styled div{
    width:60px;
    height:50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:10px;
    background-position: center;
    border-radius: 5px 0 0 5px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color:#6c7b88;
    background-color: #31353D!important;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled:after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    position: absolute;
    top: 9px;
    right: 10px;
    transition: all 0.3s ease;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled:hover {
    background-color: #b83729;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled:active, .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled.active {
    background-color: #3a3f48;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-styled.active:after {
    top: 9px;
    transform: rotate(90deg);
    right: 12px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #3a3f48;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
    max-height:200px;
    overflow-y: scroll;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-options li {
    margin: 0;
    color:#6c7b88;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #31353D;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-options .active-article{
    display:flex;
    padding: 0;
    align-items: center;
    text-align: left;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte.choice .select-options li div {
    height: 50px;
    width:50px;
    min-width: 50px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-options li div {
    height: 55px;
    min-width: 75px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .select-options li[rel="hide"] {
    display: none;
  }
  /** end select **/
  /** end custom radio **/
  .chiller-theme .sidebar-wrapper .sidebar-texte input,.chiller-theme .sidebar-wrapper .sidebar-texte textarea {
    background-color: #31353D;
    color: #b8bfce;
    border-color: transparent;
    box-shadow: none;
  }
  /** Custom input number **/
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity {
    position: relative;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type=number]::-webkit-inner-spin-button,
  .chiller-theme .sidebar-wrapper .sidebar-texte input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity input {
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-right: 25px;
    padding-left: 5px;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity input:focus {
    outline: 0;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #6c7b88;
    font-size: 13px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity-button.quantity-up {
    position: absolute;
    height: 20px;
    top: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-texte .quantity-button.quantity-down {
    position: absolute;
    bottom: 0;
    height: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  }
  /** end custopn input number **/
  /** custom input file $**/
  .wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 150px;
    padding-right: 16px;
    text-align: center;
    overflow: hidden;
  }
  .wrap-custom-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
  }
  .wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: #31353D;
    border-radius: 4px;
    transition: transform 0.4s;
  }
  .wrap-custom-file label span {
    display: block;
    margin-top: 2rem;
    font-size: 1rem;
    color: #6c7b88;
    transition: color 0.4s;
  }
  .wrap-custom-file label .fa {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1.5rem;
    color: lightcoral;
    transition: color 0.4s;
  }
  .wrap-custom-file svg {
    position: absolute;
    top: -30px;
    right: 0;
    width: 25px;
    height: 25px;
    background: rgba(17, 17, 17, 0.4);
    fill: white;
    transition: top ease 200ms;
    z-index:2;
    border-radius:0 4px 0 0;
  }
  .wrap-custom-file label.file-ok:hover~svg{
    top: 0;
    display: block;
  }
  .wrap-custom-file svg:hover {
    top: 0;
    cursor: pointer;
    background: red;
  }
  .wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
  }
  .wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .wrap-custom-file label.file-ok .fa {
    display: none;
  }
  /** end custom **/
  .chiller-theme .sidebar-wrapper .sidebar-texte label,.chiller-theme .sidebar-wrapper .label,.page-wrapper .page-content.article label {
    color: #b8bfce;
  }
  .chiller-theme .sidebar-footer {
      background: #3a3f48;
      box-shadow: 0px -1px 5px #282c33;
      border-top: 1px solid #464a52;
  }
  
  .chiller-theme .sidebar-footer>a:first-child {
      border-left: none;
  }
  
  .chiller-theme .sidebar-footer>a:last-child {
      border-right: none;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
/*** editor **/
#cke_article_Content{
  border: none;
}
#cke_1_contents{
  min-height:60vh!important;
  padding: 20px;
  padding-right: 0;
}
.page-wrapper .page-content.article .cke_top{
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 30px;
}
.page-wrapper .page-content.article .cke_inner{
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: #fff;
}
.page-wrapper .page-content.article .cke_bottom{
  background-color: #fff;
  border-radius:0 0 15px 15px;
}
.page-wrapper .page-content.article .form-custom{
  background-color: #fff;
  padding:30px 25px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  margin-top:30px;
}
.page-wrapper .page-content.article .form-custom .form-control,.page-wrapper .page-content.article .form-custom #article_CreatedAt select{
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
  color:#a1a1a1;
}
.page-wrapper .page-content.article .form-custom #article_CreatedAt select{
  display: inline-block;
  width: auto;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 10px;
  margin-bottom:16px;
}
.page-wrapper .page-content.article .form-custom .toggle-password{
  float:right;
  color:#b1b1b1;
  margin-right: 12px;
  margin-top: -50px;
  cursor:pointer;
}
.page-wrapper .page-content.article .form-custom .form-control:focus{
  outline: 0;
  box-shadow: none;
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
.page-wrapper .page-content.article .form-custom label,.page-wrapper .page-content.article .form-custom .label{
  color:#b1b1b1;
}
.page-wrapper .page-content.article .form-custom dfn {
  cursor: help;
  font-style: normal;
  position: relative;
}
.page-wrapper .page-content.article .form-custom .form-group {
  display: inline-block;
  margin-bottom: 0;
  text-align: left;
  width:45%;
  vertical-align: top;
}
.page-wrapper .page-content.article .form-custom .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.page-wrapper .page-content.article .form-custom .form-group label {
  position: relative;
  cursor: pointer;
}
.page-wrapper .page-content.article .form-custom .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #16c7ff;
  text-shadow: 0px 0px 10px rgb(22 199 255 / 50%);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.page-wrapper .page-content.article .form-custom .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #16c7ff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.page-wrapper .page-content.article .form-custom img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  width: 100px;
  margin-bottom: 16px;
}
.page-wrapper .page-content.article .form-custom dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
.page-wrapper .page-content.article .form-custom dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
.page-wrapper .page-content.article .form-custom dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
.page-wrapper .page-content.article .form-custom dfn:hover::after,
.page-wrapper .page-content.article .form-custom dfn:hover::before {opacity: 1;}
.page-wrapper .page-content.article .form-custom dfn:hover::after {top: 30px;}
.page-wrapper .page-content.article .form-custom dfn:hover::before {top: 20px;}
/** menu page **/

.page-wrapper .page-content .menu-accordion .toggle {
  display: none;
}

.page-wrapper .page-content .menu-accordion .option {
  position: relative;
  margin-bottom: 1em;
}

.page-wrapper .page-content .menu-accordion.title,.page-wrapper .page-content .menu-accordion
.content {
  transition: all 0.2s;
}

.page-wrapper .page-content .menu-accordion .title {
  background: #fff;
  padding: 1em;
  display: flex;
  color: #7A7572;
  font-weight: bold;
  align-items: center;
  cursor: grab;
}
.page-wrapper .page-content .menu-accordion .title .details,.page-wrapper .page-content .menu-accordion .content .child .details{
  font-size:14px;
  display:block;
  font-weight:300;
}
.page-wrapper .page-content .menu-accordion .title:after, .title:before {
  content: "";
  position: absolute;
  top:30px;
  right: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7A7572;
  transition: all 0.2s;
}

.page-wrapper .page-content .menu-accordion .title:after {
  transform: rotate(90deg);
}

.page-wrapper .page-content .menu-accordion .content {
  height: 0;
  overflow: hidden;
}
.page-wrapper .page-content .menu-accordion .content .child {
  position: relative;
  margin: 0;
  padding: 1em;
  font-size: 0.9rem;
  line-height: 1.5;
  background-color: #fff;
  margin-top:15px;
  margin-left:100px;
  color: #7A7572;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.page-wrapper .page-content .menu-accordion .content .child .ligne{
  position:absolute;
  width:50px;
  height:86px;
  top: -50px;
  left: -50px;
  border-bottom:1px solid #b3b3b3;
  border-left:1px solid #b3b3b3;
}
.page-wrapper .page-content .menu-accordion .toggle:checked + .title, .page-wrapper .page-content .menu-accordion .toggle:checked + .title + .content .child{
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}
.page-wrapper .page-content .menu-accordion .toggle:checked + .title + .content {
  height: auto;
}
.page-wrapper .page-content .menu-accordion .toggle:checked + .title:before {
  transform: rotate(90deg) !important;
}
/** modal edit links **/
body.modal-active {
  overflow: hidden;
}
.modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
.modal-container.active {
  z-index: 997;
  transform: scale(1);
}
.modal-container.active.out {
  z-index: -1;
}
.modal-container.active .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
.modal-container.active .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.active .modal-background .modal .col-md-3{
  padding-left: 5px;
  padding-right: 5px;
}
.modal-container.active .modal-background .modal .radio-img{
  width:100%;
}
.modal-container.active .modal-background .modal .image {
  opacity: 0.8;
  width: 100%;
  height: 150px;
  background-position: center center;
  background-color: gray;
  display: inline-block;
}
.modal-container.active .modal-background .modal .image:hover {
  opacity: 1;
}

.modal-container.active .modal-background .modal .radio-img > input {
  display: none;
}
.modal-container.active .modal-background .modal .radio-img > .image {
  cursor: pointer;
  border-radius: 5px;
}
.modal-container.active .modal-background .modal .radio-img > input:checked + .image {
  border: 2px solid #16c7ff;
  box-shadow: 1px 2px 3px #dedede;
}
.modal-container.active.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-container .modal-background .close-modal{
  width:100%;
  height:100%;
  position:absolute;
}
.modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width:100%;
  max-width:500px;
  max-height:500px;
  overflow-y: scroll;
}
.modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}
.article-on-category{
  background: #fff;
  padding: 1em;
  display: flex;
  color: #7A7572;
  font-weight: bold;
  align-items: center;
  margin-bottom:16px;
  cursor:grab;
}
.article-on-category .details{
  font-size: 14px;
  display: block;
  font-weight: 300;
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/** custom select menu **/
.chiller-theme .form-custom .sidebar-texte .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.chiller-theme .form-custom .sidebar-texte .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
}
.chiller-theme .form-custom .sidebar-texte .select.active-select {
  height:50px;
  margin-bottom: 16px;
}
.chiller-theme .form-custom .sidebar-texte .select:nth-child(4){
  display: none;
}
.chiller-theme .form-custom .sidebar-texte .select.active-select .select-styled{
  padding:0;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}
.chiller-theme .form-custom .sidebar-texte .select.active-select .select-styled:after{
  top:12px;
}
.chiller-theme .form-custom .sidebar-texte .select.active-select .select-styled div{
  width:60px;
  height:50px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right:10px;
  background-position: center;
  border-radius: 5px 0 0 5px;
}
.chiller-theme .form-custom .sidebar-texte .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
  color: #a1a1a1;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.chiller-theme .form-custom .sidebar-texte .select-styled:after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  position: absolute;
  top: 9px;
  right: 10px;
  transition: all 0.3s ease;
}
.chiller-theme .form-custom .sidebar-texte .select-styled:active, .chiller-theme .form-custom .sidebar-texte .select-styled.active {
  outline: 0;
  box-shadow: none;
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
.chiller-theme .form-custom .sidebar-texte .select-styled.active:after {
  top: 9px;
  transform: rotate(90deg);
  right: 12px;
}
.chiller-theme .form-custom .sidebar-texte .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #3a3f48;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  height: auto;
  max-height: 180px;
  overflow-y: scroll;
}
.chiller-theme .form-custom .sidebar-texte .select-options li {
  margin: 0;
  color:#6c7b88;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #31353D;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.chiller-theme .form-custom .sidebar-texte .select-options .active-article{
  display:flex;
  padding: 0;
  align-items: center;
  text-align: left;
}
.chiller-theme .form-custom .sidebar-texte .select-options li div {
  height: 55px;
  min-width: 75px;
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}
.chiller-theme .form-custom .sidebar-texte .select-options li[rel="hide"] {
  display: none;
}
/** end select **/