/* Sitraka Rajaonarisoa */
#blocAlert, #toPartnerRadio {
  display: none;
}

#content-bo-map .row {
  margin: 0px !important;
}

.page-wrapper .page-content#content-bo-map > div {
  padding: 5px 10px 0px 40px;
}

@media (min-width: 768px) {
  .page-wrapper.toggled .page-content#content-bo-map {
    padding-left: 230px;
  }
}
#content-map {
  width: 100%;
}

.body_with_overflow {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.content_icon_frs {
  width: 23px;
  border: 1px solid;
  margin-bottom: 5px;
  animation-duration: 1s;
  border-radius: 20px;
}

.content_icon_frs:hover {
  cursor: pointer;
}

#icon_france {
  width: 100%;
  border-radius: 20px;
}

#content_div_map {
  width: 450px;
  height: 300px;
  z-index: 2;
  position: relative;
}

@media (min-width: 767px) {
  .content_iframe_map {
    width: 100%;
    height: 100%;
  }
}
.content_iframe_map {
  border: 2px solid;
}

.content_iframe_map > iframe {
  width: 100%;
  height: 100%;
}

#overlay {
  position: fixed;
  background-color: #7777778c;
  width: 100vw;
  height: 100vh;
  z-index: 99991;
  top: 0;
}

#content_btn_close:hover {
  cursor: pointer;
}

#content_div_map.hide {
  display: none;
}

#content_btn_close {
  z-index: 99994;
  position: absolute;
  right: -15px;
  border: 2px solid #000;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  top: -15px;
}

#content_btn_close span#close {
  font-weight: 700;
  font-size: 16px;
}

.listCityMarker {
  padding: 10px;
  border: 1px solid #28427d;
  margin-bottom: 5px;
}

.listCityMarker:hover {
  background-color: #f4f4ff;
  cursor: pointer;
}

#listCity .btn_to_detail {
  background: none;
  border: none;
  padding: 0px;
  font-weight: 500;
  font-size: 1.2rem;
}

#listCity .btn_to_detail_voir {
  background: #000;
  border: none;
  padding: 4px;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  border-radius: 3px;
}

#listCity .to_left i {
  color: #fff;
  position: relative;
  left: -65px;
  transition: 500ms;
}

#listCity .to_left:hover i {
  left: -30px;
}

#partner_left {
  height: 500px;
  overflow: hidden scroll;
  margin-right: 10px;
}

.autocomplete-suggestions {
  background-color: #2a2c44;
  border-width: 1px;
  border-style: solid;
  max-height: 150px;
  overflow-y: scroll;
}

div.autocomplete-suggestion {
  padding: 2px 5px;
  font-size: 12px;
  color: #fff;
}

div.autocomplete-suggestion:hover {
  cursor: pointer;
  background-color: azure;
  color: black;
}

.load {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  position: relative;
  top: 0;
  left: -20px;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 40px;
  height: 40px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

button.btn_afficher.btn_front {
  display: none;
}

.list form a.btn-voir {
  padding: 2px 15px;
}

a.btn-voir {
  background-color: #28427d;
  padding: 5px 15px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

a.btn-voir:hover {
  background-color: #f0592d;
}

#autocomplete-container .autocomplete-container {
  position: relative;
}

#autocomplete-container .autocomplete-items {
  position: absolute;
  z-index: 9999;
  background-color: #2a2c44;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  padding: 10px;
  width: 100%;
}

#autocomplete-container .autocomplete-items > div:hover {
  cursor: pointer;
  color: #f0592d;
}

#icon_search_form {
  position: relative;
  padding: 9px 6px;
  border-radius: 5px 0px 0px 5px;
  border-right: unset;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #f0592d;
}

.autocomplete-container input {
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 767px) {
  #zone-filtre {
    margin-right: 10px;
    margin-left: 10px;
  }

  #map_fixed {
    margin: 30px;
  }

  #partner_left {
    margin-right: 25px;
    margin-left: 25px;
    height: 300px !important;
    overflow: hidden scroll !important;
  }
}
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role=remove] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
  content: "x";
  padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role=remove]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#list-press .content-intro {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(127, 127, 127, 0.23);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #eee;
  margin: 5px 5px;
  height: max-content;
}
#list-press .content-intro .content-date {
  border-right: 1px solid #DDDDDD;
}
#list-press .content-intro .content-date div {
  margin-top: 10px;
}
#list-press .content-intro .content-txt a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
#list-press .content-intro .content-txt .entry-meta {
  margin-top: 10px;
}

#list-press .content-intro:hover {
  background-color: #fff;
  animation: 2s;
  -webkit-animation: 2s;
}

#press-one-front #le-pdf {
  height: 80px;
  background-color: #f8fcff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#press-one-front #last-press-release {
  background-color: #f8fcff;
}
#press-one-front #last-press-release h5 {
  justify-content: center;
  display: flex;
  padding: 15px 5px 5px 5px;
}
#press-one-front .content-intro .content-txt .entry-meta-top a {
  text-decoration: none;
  text-transform: uppercase;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

/*# sourceMappingURL=styles_in_bo.css.map */
