<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette commande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
