
<label for="commande_numero">Numéro</label>
<input type="text" class="form-control" name="commande_numero" value="{{ commande.numero}}" readonly />

<label for="commande_date">Date</label>
<input type="text" class="form-control" name="commande_date" readonly value="{{ commande.date | date('d/m/Y')}}" />

<label for="client_nom">Nom</label>
<input type="text" class="form-control" name="client_nom" value="{{ commande.client.nom }}" readonly />

<label for="client_prenom">Prénom</label>
<input type="text" class="form-control" name="client_prenom" value="{{ commande.client.prenom }}" readonly />

<label for="client_email">Mail</label>
<input type="text" class="form-control" name="client_email" value="{{ commande.client.email }}" readonly />

<label for="produit_nom">Produit</label>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Quantité achetés</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Prix totale</th>
        </tr>
        {% for p in commande.produit %}
        <tr>
            <th>{{ p.titre }}</th>
            <td>{{ commande.quantiteCommande }}</td>
            <td>{{ p.prix }}</td>
            <td>{{ p.prix * commande.quantiteCommande }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
