{{ form_start(form) }}
    <label for="commande_date">Titre</label>
    {{form_row(form.date, {'attr':{'class':'form-control'}})}}

    <label for="commande_numero">Numéro</label>
    {{form_row(form.numero, {'attr':{'class':'form-control'}})}}

    <label for="commande_quantite">Quantité commandé</label>
    {{form_row(form.quantiteCommande, {'attr':{'class':'form-control'}})}}

    <label for="commande_client">Client</label>
    {{form_row(form.client, {'attr':{'class':'form-control'}})}}

    <label for="commande_produit">Produit</label>
    {{form_row(form.produit, {'attr':{'class':''}})}}

    <div class="text-center mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
