{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}


        <h5 class="font-weight-bold">Liste des commandes</h5>
    
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Date</th>
                    <th>Quantité commandé</th>
                    <th>Nom et prénom du client</th>
                    <th>Mail du client</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.numero }}</td>
                    <td>{{ commande.date | date('d/m/Y') }}</td>
                    <td>{{ commande.quantiteCommande }}</td>
                    <td>{{ commande.client.nom ~ ' ' ~  commande.client.prenom}}</td>
                    <td>{{ commande.client.email }}</td>
                    <td>
                        <a href="{{ path('commande_detail', {'id': commande.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a>
{#                        <a href="{{ path('commande_edit', {'id': commande.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>#}
                        {{ include('commande/_delete_formCommande.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        
        <a href="{{ path('commande_new') }}" class="btn btn-primary"> <i class="fas fa-plus"></i> Créer une commande</a>
    

    
{% endblock %}
