{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="font-weight-bold">Créer une commande</h5>
                </div>
                <div class="card-body">
                    {{ include('commande/_formCommande.html.twig') }}
                    
                    <a href="{{ path('commande_index') }}" class="btn btn-link"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
