<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
