{{ form_start(form) }}
    <label for="client_nom">Nom</label>
    {{form_row(form.nom, {'attr':{'class':'form-control'}})}}

    <label for="client_prenom">Prénom</label>
    {{form_row(form.prenom, {'attr':{'class':'form-control'}})}}

    <label for="client_adresse">Adresse</label>
    {{form_row(form.adresse, {'attr':{'class':'form-control'}})}}

    <label for="client_email">Mail</label>
    {{form_row(form.email, {'attr':{'class':'form-control'}})}}

    <label for="client_telephone">Téléphone</label>
    {{form_row(form.telephone, {'attr':{'class':'form-control'}})}}

    <div class="text-center mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
