{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}


        <h5 class="font-weight-bold">Liste des clients</h5>
    
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse Stock</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.adresse }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>
                        {# <a href="{{ path('client_index', {'id': client.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a> #}
                        <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                        {{ include('client/_delete_formClient.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        
        <a href="{{ path('client_new') }}" class="btn btn-primary"> <i class="fas fa-plus"></i> Créer un client</a>
    

    
{% endblock %}
