<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back{% endblock %}</title>
      
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        
        <link rel="stylesheet" href="{{ asset('asset/css/styles_in_bo.css') }}">

        <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">


        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
        <div class="page-wrapper chiller-theme toggled">

            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars"></i>
            </a>

            <nav id="sidebar" class="sidebar-wrapper">
                {% block sidebar %}
                    <div class="sidebar-content">
                        <div class="sidebar-brand">
                            <a href="{{ path('produit_index') }}">Home</a>
                            <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                            </div>
                        </div>
                        {# <div class="sidebar-header">
                            <div class="user-pic">
                            
                                <img class="img-responsive img-rounded" src="{{ asset('asset/user.jpg') }}" alt="User picture">
                            
                            </div>
                            <div class="user-info">
                            <span class="user-name">Bienvenue
                                <strong>{{ app.user.name }}</strong>
                            </span>
                            <span class="user-role">
                                {% for role in app.user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                Administrateur
                                {% endif %}
                                {% if role == 'ROLE_REDAC' %}
                                Editeur
                                {% endif %}
                                {% endfor %}
                            </span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span>En ligne</span>
                            </span>
                            </div>
                        </div> #}
                        <!-- sidebar-header  -->
                        {# <div class="sidebar-search">
                            <div>
                            <div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                </div>
                            </div>
                            </div>
                        </div> #}
                        <!-- sidebar-search  -->
                        <div class="sidebar-menu">
                            <ul>
                                <li>
                                    <a href="{{ path('client_index')}}">
                                    <i class="fab fa-etsy"></i>
                                    <span>Client</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('marque_index')}}">
                                        <i class="fab fa-etsy"></i>
                                        <span>Marque</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fournisseur_index')}}">
                                    <i class="fab fa-etsy"></i>
                                    <span>Fournisseur</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('produit_index')}}">
                                    <i class="fab fa-etsy"></i>
                                    <span>Produit</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('commande_index')}}">
                                    <i class="fab fa-etsy"></i>
                                    <span>Commande</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- sidebar-menu  -->
                        </div>
                        <!-- sidebar-content  -->
                        <div class="sidebar-footer">
                        {# <a href="{{ path('app_logout') }}">
                            <i class="fa fa-power-off"></i>
                        </a> #}
                    </div>
                {% endblock %}
            </nav>

            <main class="page-content article">
                <div class="container-fluid">
                    
                        {% block body %}{% endblock %}
                    
                </div>
            </main>
        </div>

        {% block javascripts %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>
        <script src="{{ asset('asset/js/app.js') }}"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
        
        <script>
            $(document).ready(function() {
                $('.dataTable').DataTable();
            } );
        </script>
        <script>
            //for use cookie
            function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
            }
        </script>
    </body>
</html>
