<form method="post" action="{{ path('marque_delete', {'id': marque.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette marque?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
