<form method="post" action="">
    <label for="marque_nom">Marque</label>
    <select class="form-control" name="marque">
        {% for marque in marques %}
            <option value="{{ marque.id }}">{{ marque.marque }}</option>
        {% endfor %}
    </select>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
</form>
