{{ form_start(form) }}
    <label for="marque_nom">Marque</label>
    {{form_row(form.marque, {'attr':{'class':'form-control'}})}}

    <label for="produit_fournisseur">Fournisseur</label>
    {{form_row(form.fournisseur, {'attr':{'class':'form-control'}})}}

    <div class="text-center mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
