{% extends 'base.html.twig' %}

{% block title %}Edit marque{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header ">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-bold">Créer une marque</h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        {{ include('marque/_delete_formMarque.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ include('marque/_formMarque.html.twig', {'button_label': 'Modifier'}) }}

                <a href="{{ path('marque_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
