{% extends 'base.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}


        <h5 class="font-weight-bold">Liste des marques</h5>
    
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marque</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for marque in marques %}
                <tr>
                    <td>{{ marque.id }}</td>
                    <td>{{ marque.marque }}</td>
                    <td>
                        {# <a href="{{ path('marque_index', {'id': marque.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a> #}
                        <a href="{{ path('marque_edit', {'id': marque.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                        {{ include('marque/_delete_formMarque.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        
        <a href="{{ path('marque_new') }}" class="btn btn-primary"> <i class="fas fa-plus"></i> Créer une marque</a>
    

    
{% endblock %}
