<form method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce fournisseur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
