{{ form_start(form) }}
    <label for="fournisseur_nom">Nom</label>
    {{form_row(form.nom, {'attr':{'class':'form-control'}})}}

    <label for="fournisseur_prenom">Prénom</label>
    {{form_row(form.prenom, {'attr':{'class':'form-control'}})}}

    <label for="fournisseur_adresse">Adresse</label>
    {{form_row(form.adresse, {'attr':{'class':'form-control'}})}}

    <label for="fournisseur_email">Mail</label>
    {{form_row(form.email, {'attr':{'class':'form-control'}})}}

    <label for="fournisseur_telephone">Téléphone</label>
    {{form_row(form.telephone, {'attr':{'class':'form-control'}})}}

    <div class="text-center mt-3">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
