{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}


        <h5 class="font-weight-bold">Liste des fournisseurs</h5>
    
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.id }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.prenom }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{{ fournisseur.email }}</td>
                    <td>{{ fournisseur.telephone }}</td>
                    <td>
                        {# <a href="{{ path('fournisseur_index', {'id': fournisseur.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a> #}
                        <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                        {{ include('fournisseur/_delete_formFournisseur.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        
        <a href="{{ path('fournisseur_new') }}" class="btn btn-primary"> <i class="fas fa-plus"></i> Créer un fournisseur</a>
    

    
{% endblock %}
